*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #fff2e5;

}

img{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
}

h1{
    font-size: 6em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Concert One', cursive;
    text-transform: uppercase;
    color: #3ca59d;
    padding-bottom: 15px;
    border-bottom: 5px solid #ff3796 ;

}
.headline{
    width: 80%;
    align-content: center;
}

.text{
    z-index: 2000;
    font-size: 1.5em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    list-style: none;
    font-family: 'Concert One', cursive;

}

a{
    text-decoration: none;
    color: #3ca59d;
}


@media only screen and (max-width: 420px){
    .headline{
        width: 85%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,-50%);
        font-size: 0.6em;
    }

    h1{
        width: 80%;
        top: 50%;
        left: 50%;
    
    }

    .svg{
        position: absolute;
        height: 50vh;
        top: 35%;
        left: 50%;
    }
    img{
        position: absolute;
        height: 50vh;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .text{
        font-size: 0.7em;
        width: 85%;
        top: 50%;
    }

}

@media only screen and (max-width: 768px){
    .headline{
        width: 70%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,-50%);
        font-size: 0.8em;
    }

    .svg{
        position: absolute;
        height: 50vh;
        top: 35%;
        left: 50%;
    }

    img{
        height: 50vh;
        top: 80%;
        left: 40%;
        transform: translate(-50%,-50%);
    }

    p{
        font-size: 1.5em;
    }
    
    .text{
        width: 85%;
        top: 45%;
    }

}

@media only screen and (max-width: 1024px){
    h1{
        width: 75%;
        font-size: 4em;
        top: 20%;
        left: 50%;
    
    }
    img{
        height: 50vh;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    p{
        font-size: 1.5em;
    }
    
    .text{
        width: 85%;
        top: 45%;
    }

}